<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.spookypeanut.lovetag" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TrackListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".TrackListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrackListActivity" />
        </activity>
        <activity
            android:name=".TagInputActivity"
            android:label="@string/title_activity_tag_input"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".TrackListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrackListActivity" />
        </activity>

        <receiver android:name=".LoveWidget" android:label="Love&amp;Tag:Love">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.android.music.playstatechanged" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/love_widget_info" />
        </receiver>
        <service android:name=".LoveWidget$UpdateService" />
        <receiver android:name=".TagWidget" android:label="Love&amp;Tag:Tag">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.android.music.playstatechanged" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tag_widget_info" />
        </receiver>
        <service android:name=".TagWidget$UpdateService" />
    </application>

</manifest>
